#tags {
    width: 50%;
}
h2 {
    border-bottom: 1px solid black;
}
.tagfilter {
    text-decoration: none;
    font-family: monospace;
}
#bookmarks {
    list-style: none;
}
table {
    width: 100%;
    padding: 1em;
}
#layout td {
    padding: 0.5em;
    border: 1px solid silver;
}
#add_bookmark td {
    padding: 0.5em;
    border: 0px solid red;
}
.whenedit {
    display: none;
}
span.context {
    cursor: pointer;
}
#footer {
    text-align:right;
    padding: 5px;
}
.ui-menu-item {
  font-size: 10pt;
}